.forum-card{
    margin: 2rem;
    background-color: rgb(247, 247, 247);
    border: 1px solid rgb(27, 27, 27);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}
.forumCard-heading{
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.forumCard-heading small{
    margin-left: 0.2rem;
}
.forumCard-heading a{
    color: black;
}
.forumCard-content{
    padding: 1rem;
}
.forumCard-content img{
    width: 100%;
    object-fit: contain;
}
.forumCard-footer{
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.forum-search-field{
    border: none;
    padding: 0.3rem;
    outline: none;
    transition: 0.4s;
    transition-timing-function: ease-in-out;
    border-radius: 0.2rem;
    width: 90%;
    background-color: rgb(221, 221, 221);
}
.forum-search-field:hover{
    border: none;
    padding: 0.3rem;
    outline: none;
}
.search-bar{
    color: black;
    margin-top: 1rem;
    padding: 1rem;
    display: flex;
    align-items: center;
}
.search-bar h6{
    padding: 0.2rem;
}
.fa-magnifying-glass{
    margin-right: 0.5rem;
}