.messenger {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  max-height: 90vh;
  grid-template-rows: 90vh;
}

.chatMenu {
  flex: 3.5;
}

.chatMenuInput {
  width: 90%;
  padding: 0.7rem;
  border: none;
  outline: none;
  margin: 1rem;
  border-bottom: 1px solid gray;
}

.chatBox {
  flex: 5.5;
}

.chatBoxWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.chatBoxTop {
  height: 100%;
  overflow-y: scroll;
  padding: 2rem;
  background-color: rgb(246, 255, 194);
}

.chatBoxBottom {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(243, 243, 243);
  padding: 1rem;
}

.chatMessageInput {
  width: 87%;
  height: 90px;
  padding: 10px;
  margin-top: 1rem;
  outline: none;
}

.chatSubmitButton {
  width: 5rem;
  height: 3rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(0, 87, 187);
  color: white;
  transition: 0.3s;
  transition-timing-function: ease-in-out;
}
.chatSubmitButton:hover{
  background-color: rgb(0, 129, 97);
}

.chatOnline {
  flex: 3;
}
.chatOnlineWrapper h6{
  margin-top: 0.8rem;
}
.chatBoxWrapper,
.chatOnlineWrapper {
  padding: 10px;
  height: 100%;
}
.chatMenuWrapper{
  display: flex;
}
.noConversationText {
  position: absolute;
  top: 10%;
  font-size: 50px;
  color: rgb(224, 220, 220);
  cursor: default;
}

@media screen and (max-width: 768px) {
  .chatMenu {
    flex: 1;
  }

  .chatMenuInput {
    display: none;
  }

  .chatBox{
    flex: 10;
  }

  .chatOnline{
    flex: 1px;
  }
}